body {
  text-align: center;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
 background-size: cover;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  margin-top: 30%;
  margin-bottom: 30%;
  color: #FEF2BF;
}

#title,#Pl1 {
   font-family: Marquee Moon;
   font-size: 120px;
    font-variant-ligatures: no-common-ligatures;
    text-align: center;
    white-space: nowrap;
    line-height: 100%;
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.group{
  display: flex;
  flex-wrap: wrap;
}
.back{
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  display: block;
}
.menu {
  height: 100%;
  width: 30%;
}

.container {
  text-align: center;
  display: block;
  height: 100%;
  width: 40%;
}


.score{
  height: 100%;
  width: 20%;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 25px;
  margin-left: 2%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 160px;
  width: 160px;
  border-radius: 20%;
  box-shadow: 0 0 5px 10px #555;
}

.btn:hover{
  -webkit-box-shadow: -2px -1px 5px 3px #F3E6FA;
  -moz-box-shadow: -3px -2px 10px 5px #F3E6FA;
  box-shadow: -2px -1px 15px 10px #F3E6FA;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #98d7c2;
}

.green {
  background-color: #29a0b1;
}

.blue {
  background-color: #29a0b1;
}

.yellow {
  background-color: #98d7c2;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
